
h2{
	margin: 50% 0 0 0;
}
.exit_button{
    background-color: antiquewhite;
    font-size: 1.5em;
    border-radius: 10px;
    padding: 5px 10px;
    
}

.exit_button:hover{
    background-color: rgb(255, 105, 105);
}

.avatar{
    /* margin-left: 15vw;
    margin-right: 4vw; */
    height: 40vh;
    border-radius: 10px;
}


.nameProfile{
    font-weight: 600;
    font-size:3.3vh;
    margin-top:1vh;
    margin-right: 3vw;
}


.popup_fade, .apopup_fade, .phpopup_fade {
	display: none;
}
.popup_fade:before, .apopup_fade:before, .phpopup_fade:before {
	content: '';
	background: #000;
	position: fixed; 
	left: 0;
	top: 0;
	width: 100%; 
	height: 100%;
	opacity: 0.7;
	z-index: 9999;
}
.popup, .apopup, .phpopup {
    font-family: 'Century Gothic';
    background: no-repeat linear-gradient(45deg,#ce5cd8,#9dc3d4);
    display: flex;
    justify-content: center;
	position: fixed;
    text-align: center;
	top: 50vh;
	left: 50vw;
    transform: translate(-50%, -50%);
	padding: 50px;
	width: 480px;	
	/* background: #fff; */
	border: 1px solid rgb(104, 16, 159);
	border-radius: 4px; 
	z-index: 99999;
	opacity: 1;	
}
.popup_close, .apopup_close, .phpopup_close {
	position: absolute;
	top: 10px;
	right: 10px;
}

form{
    display: flex;
    flex-direction: column;
}

.albums{
	/* background-color: #000; */
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-top: 5%;
	margin-bottom: 10%;
	width: 80%;
	/* height: 100vh; */
}
.new_album{
	 display: flex;
	justify-content: center;
	align-items: center;
	font-size: 7em;
	width: 17.5vw;
	height: 17.5vw;
	background-color: rgba(250, 235, 215, 0.803);
	border-radius: 25px;
	margin: 5%;

}
.new_album:hover{
	background-color: antiquewhite;
	box-shadow:  0 0 30px #a6ff47;

}

.album{
	width: 17.5vw;
	height: 17.5vw;
	background-color: rgba(250, 235, 215, 0.803);
	border-radius: 25px;
	margin: 5%;
	text-align: center;
}
.album:hover{
	background-color: antiquewhite;
	box-shadow:  0 0 30px rgb(104, 16, 159);
}

.album-photo{
	height: 65%;
	margin-bottom: 7%;
}

.txt{
	font-size: 1em;
}

.user_content{
	justify-content: center;
	display: flex;
	margin-top: 3%;
	flex-direction: row;
	width: 80%;
}

.user_inf{
	margin-left: 10%;
}
.albpics{
	margin: 7% 0;
	/* margin-left: 10%; */
	display: flex;
	justify-content: center;
	/* position: relative; */
	flex-wrap: wrap;
	width: 80%;
	padding: 1%;
}
.mess{
	display: flex;
	
}
.mess img{
	padding-right: 10%;
}
.mess h2{
	vertical-align: middle;
	font-size: 2em;
	
}
.mess .plink{
	width: 75%;
	padding: 5%;
	/* background-color: antiquewhite; */
	border-radius: 50px;
	text-align: center;
	font-size: 1.5em;
	
	
}
.mess .plink:hover{
	box-shadow:  0 0 30px rgb(70, 10, 107);

}